<div class="team-panel-component">
    <div class="card-team-panel">
        <h4 class="card-title">Pessoas conectadas:</h4>
        <app-connected-user *ngFor="let user of usersList; let i=index" [user]='user'></app-connected-user>
    </div>
    <div  class="card-team-panel" >
        <h4 class="card-title">Votação</h4>
        <div *ngIf='hide' class="votes-container">
            <app-user-votes *ngFor="let vote of voteList; let i=index" [vote]='vote'>
            </app-user-votes>
        </div>
    </div>
</div>