<div class="container pt-5" >
    <form [formGroup]='registrationForm' (ngSubmit)="salvar()" >
        <div class="form-group">
            <label for="userName">Digite seu usuário</label>
            <input class="form-control" type="text" name="userName" formControlName="userName">        
        </div>
        <div class="form-group" id='owner'>
            <label  for="owner">Você é o dono da sala?</label>
            <input class=" form-control" type="checkbox" name="owner" formControlName="owner">        
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Entrar</button>
            <!--<button class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>-->
        </div>
    </form>
</div>